.wrapper{
	&--x{
		// overflow-y: scroll;
		height: 1080px;

		@include bp(1150){
			overflow-y: scroll;
			height: 100vh;
		}
	}
}

.page{
	&__content{
    width: 70rem;
    margin: 0 auto;
		padding-top: 4.00rem;	
		position: relative;

				
		&--x{
			padding-top: 6.00rem;
		}

		.main-container--x &{
			padding-top: 0;
			border-radius: 0.20rem;
		  border: solid 0.10rem $color-blue-1;						
			height: 42.00rem;
			// background-color: green;
			transition: all 1100ms;
		}

		.page.zoomed &{
			border: solid 1rem $color-blue-1;	

			@include bp(1150){
				border: solid 0.10rem $color-blue-1;
			}
		}

		&--y{
			padding-top: 2.00rem;
			padding-left: 5.85rem;
			transition: all 1100ms;

			.main-container--x &{
				padding-top: 	2.00rem;
				padding-left: 	2.2rem;
				overflow: hidden;
				@include bp(1440){
					// height: 32.50rem;
					height: auto;
					
				}
				@include bp(1024){
					// height: 26.75rem;
					height: auto;
					padding-top: 1.20rem;
					padding-left: 1.20rem;
				}
				@include bp(910){
					// height: 28.75rem;
					height: auto;
				}
				@include bp(768){
					// height: 32.75rem;
					height: auto;
				}
			}

			.page--2.zoomed &,
			.page--3.zoomed &,
			.page--4.zoomed &,
			.page--5.zoomed &,
			.page--6.zoomed &,
			.page--7.zoomed &,{
				width: 85.50rem;
				height: 82.50rem;
				
				@include bp(1150){
			    width: 83.3333%;
			    height: auto;
			    padding: 0;
			    padding: 0 2.64rem;
			    padding-top: 1.10rem;
			    padding-bottom: 1.1rem;
				}		

				@include bp(767){
					width: calc(#{100%} - #{1.6rem});
				}	
				@include bp(530){
					padding: 1rem;
				}	
			}

			.zoomed &{
				padding: 3.5rem 8rem 12.5rem 8rem;
			}
		}		

		@include bp(1440){
			width: 83.333%;
			@include bp(600){
				padding-top: 3.00rem;
			}
		}
		@include bp(767){
			width: 100%;
			padding: 4rem .8rem 0 .8rem;
		}


		.page--2 & > *,
		.page--3 & > *,
		.page--4 & > *,
		.page--5 & > *,
		.page--6 & > *,
		.page--7 & > *,
		.page--8 & > *,{
			opacity: 0;
			transition-property: opacity;
	    transition-delay: .5s;

	    transition-duration: .5s;
		}


		.page & > .cta__wrapper{
			// transition-delay: 1s;	
			transition-delay: .5s;	
		}

		.page--7 & > *{
			transition-property: opacity;			
			transition-duration: .05s;
		}
		.page--7 & > .cta__wrapper{
			transition-property: opacity;			
			transition-duration: .1s;
		}

		.page--8 &{
			padding-bottom: 4rem;
		}


		.page.activate & > *{
			opacity: 1;
		}

		.page.zoomed & > *{
			opacity: 0;
		}
		// .page.zoomed & > .page__zoomed--header,
		// .page.zoomed & > .main__title--x,
		.page.zoomed & > .dial-group,
		.page.zoomed & > .selection__wrapper,
		.page.zoomed & > .detscroll__wrapper,
		.page.zoomed & > .detscroll__group,{
			opacity: 1;
			@include bp(1024){
				margin-top: 2rem;
			}
		}

		.page.zoomed & .cta__wrapper{
			opacity: 0;
			@include bp(1024){
				display: none;
			}
		}

				// .page.zoomed & > .dial-group{
  //   	width: 84vw;
	 //    height: 42vw;
	 //    @include bp(1150){
		//     width: 37vw;
		//     height: 18.5vw;
	 //    }
		// }
		.page.zoomed & > .dial-group{
			@include bp(910){
				margin-top: 2rem;
			}
			@include bp(767){
				margin-top: 2rem;
			}
		}

		.page.zoomed & > .detscroll__group{
			margin-top: 47rem;
			@include bp(1150){
				margin-top: 2rem;
			}
			@include bp(910){
				margin-top: 0;
			}
		}

		.page.zoomed & > .selection__wrapper--x{
	    @include bp(1150){
				margin: 0 auto;
				margin-top: 2rem;
	    }
	    @include bp(910){
	    	margin-top: 2rem;
	    }
	    @include bp(767){
	    	margin-top: 2rem;
	    }
	    @include bp(666){
	    	width: 12rem;
	    	height: auto;
	    }
		}

		.page.zoomed & > .detscroll__wrapper-1{
	    @include bp(660){
	    	margin: 0 auto;
	    	margin-top: -5.5rem;
	    }
		}		

		& > .btn__regress{
			opacity: 1;
		}	
	}
}