.page{
	position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;

  &--1{  	
  }
  &--2{
    top: 50rem;
    left: 92.70rem;

    &.page--a{
      @include bp(1440){
        left: calc(calc(#{100vw} / #{1441}) * 1854 - 7.35vw);
      }        
    }	
  }
  &--3{
    top: 100rem;
    left: 278.10rem;
    &.page--a{
      @include bp(1440){
        left: calc(calc(#{100vw} / #{1441}) * 5562.00 - 64.35vw);
      }        
    }    
  }
  &--4{
    // top: -300vh;
    // left: 300vw;
  
    top: -150rem;
    left: 278.10rem; 

    &.page--a{
      @include bp(1440){
        left: calc(calc(#{100vw} / #{1441}) * 5562.00 - 64.35vw);
      }        
    }
  }
  &--5{
    top: -150rem;
    left: 0px;

    &.page--a{
      @include bp(1440){
        left: calc(#{100vw} / #{1441});
      }        
    }
  }
  &--6{
    // top: -300vh;
    // left: -300vw;
    top: -150rem;
    left: -278.10rem;

    &.page--a{
      @include bp(1440){
        left: calc(calc(#{100vw} / #{1441}) * #{-5562.00} + 64.35vw);
      }        
    }
  }
  &--7{
  	// top: 200vh;
  	// left: -200vw;
    top: 100rem;
    left: -185.40rem;
    
    &.page--a{
      @include bp(1440){
        left: calc(calc(#{100vw} / #{1441}) * #{-3708.00} + 64.35vw);
      }        
    }
  }
  &--8{
    top: 189.19rem;
    overflow-y: overlay;
  }

  .main-container--x &{
    padding-top: 7.80rem;
  }

  &--x{
    z-index: 5;
    height: 100vh;
    width: 100vw;
    
    &.deactivate{
      z-index: -1;
      background-color: transparent;  
    }
  }

  &--z{
    .main-container--x &{
      padding-top: 0rem;
    }
    transition: all 1100ms;

    &.activate--z{
      opacity: 1;
    }
    &.deactivate--z{
      opacity: 0;
    }
    &.zoomed{        
      width: auto;
      height: auto;
    }
  }

  &--a{
    background-color: $color-blue-2;
  }

  &__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-left: -12rem;
    margin-top: -3.5rem; 
    z-index: 10000;       
  } 

  &__zoomed{
    &--header{
      height: 15rem;
      width: calc(#{100%} - #{20rem});
      align-items: center;
      display: flex;
      position: absolute;
      justify-content: space-between;
      transition: all 1100ms;
      .page.activate .page__content > & {
        opacity: 0;        
      }      
      .page.zoomed .page__content > & {
        opacity: 1;        
      }      
    }
  }
}