.results__eloqua {
	font-family: UniversB, Arial, Helvetica, sans-serif;
	position: absolute;
	width: 42.65rem;
	height: 33.2rem;
	margin: 0 auto;
	left: 0;
	z-index: 10;
	right: 0;
	display: none;
	padding: 1rem;
	overflow: hidden;
	@include bp(767){
		width: 19.1rem;
		height: 34.25rem;
	}
}



.results__eloqua {
	&.activate {
		display: block;
	}
	.desktop-hide{
		display: none;
		@include bp(767){
			display: block;
		}
	}
	.phone-hide{
		display: block;
		@include bp(767){
			display:none;
		}
	}
	.blur-image{
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}

	.blur{
		position: absolute;
        top:0;
		left:0;
		width:100%;
		height:100%;
		-webkit-backdrop-filter: blur(19px);
		backdrop-filter: blur(19px);
		background-color: rgba(255, 255, 255, 0);
	}
	.title-holder{
		background-color: #324b5c;
		width: 100%;

	}
	.title-img img{
		width: 5.2rem;
		height: 5.2rem;
		width: 5.2rem;
		height: 5.2rem;
		margin-left: auto;
		margin-right: auto;
		display: block;


	}
	h2 {
		font-size: 1.25rem;
		font-weight: bold;
		line-height: 1.5rem;
		color:#ffffff;
		margin-bottom:3rem;
		width:19.55rem ;
		text-align:center ;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 1.15rem;
		@include bp(767){
			font-size: 0.95rem;
			line-height: 1.5rem;
		}
	}
	form{
		padding: 0 1rem 0 1rem;
		margin-left: 6.6rem;
		@include bp(767){
			margin-left: 0;
		}
	}
	input {
		padding-left: .5rem;
		width: 15rem;
		height: 1.7rem;
		border: 1px solid #00758f;
		background-color: transparent;
		color:#ffffff;
		display: block;
		margin-bottom:1.25rem;
		font-size: 0.95rem;
	}
	label{
		color:#cad9de;
		line-height: 1.05rem;
		display: block;
		font-size: 0.8rem;
		margin-bottom: .3rem;
		float:left;
		width:5.9rem ;
		margin-right:1.9rem ;
		@include bp(767){
			float: none;
		}

	}
	.detailed-score__btn {
		width: 7rem;
		height: 1.9rem;
		border: solid 0.1rem #fff;
		margin-top: 4.5rem;
		margin-bottom: 2rem;
		cursor: pointer;
		justify-content: space-between;
		align-items: center;
		padding-left: 0.3rem;
		padding-right: 0.45rem;
		margin-right: auto;
		margin-left: auto;
	}
	select{
		padding-left: .5rem;
		width: 15rem;
		height: 1.7rem;
		border: 1px solid #00758f;
		background-color: transparent;
		color:#ffffff;
		display: block;
		margin-bottom:1.25rem;
	}
	.close-holder{
		width: 100%;
		height:  1.2rem;
		position: relative;
		background-color:#324b5c ;
	}
	.styledCheckbox input {
		position: relative;
		z-index: -9999;
		color: #ffffff;
	}
	.section-1{

	}
	.section-2{
		background-color: #324b5c;
		padding: 1rem;
	}

	.styledCheckbox span {
		font-size:  0.8rem;
		display: block;
	}
	.styledCheckbox span.bullsseye{
		width: 20px;
		height: 20px;
		border-radius: 50%;
	}

	.terms{
		color:#ffffff;
		font-size: 0.8rem;
		line-height: 1.05rem;

	}
	.terms a{
		font-size: 0.8rem;
		color: #cad9de;
		text-decoration: none;
	}
	.terms a:hover{
		text-decoration: underline;
	}
	/* Customize the label (the styledCheckbox) */
	.styledCheckbox {
		display: block;
		position: relative;
		padding-left: 35px;
		margin-bottom: 12px;
		cursor: pointer;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		float: none;
		width: 100%;
	}

	/* Hide the browser's default checkbox */
	.styledCheckbox input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	/* Create a custom checkbox */
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 1.2rem;
		width: 1.2rem;
		border: 2px solid #cad9de;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	/* Show the checkmark when checked */
	.styledCheckbox input:checked ~ .checkmark:after {
		display: block;
	}

		/* Customize the label (the styledCheckbox) */
	.styledCheckbox {
		display: block;
		position: relative;
		padding-left: 35px;
		margin-bottom: 12px;
		cursor: pointer;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	/* Hide the browser's default radio button */
	.styledCheckbox input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	/* Create a custom radio button */
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 25px;
		width: 25px;
		background-color: #eee;
		border-radius: 50%;
	}


	/* Create the indicator (the dot/circle - hidden when not checked) */
	.checkmark:after , .checkmark:hover{
		content: "•";
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		font-size: 3.5rem;
	}

	/* Show the indicator (dot/circle) when checked */
	.styledCheckbox input:checked ~ .checkmark:after {
		display: block;
	}


}

.eloqua__btn {
	width: 7.00rem;
	height: 1.90rem;
	border: solid 0.1rem #fff;
	margin-top: 1.25rem;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 0.30rem;
	padding-right: 0.45rem;
}
.eloqua-close{
	content: 'x';
	position: absolute;
	right:0;
	top:0;
	width:1.2rem;
	height:1.2rem;
}
.eloqua-close:before {
	content: 'x'; // here is your X(cross) sign.
	color: #fff;
	font-weight: 300;
	font-family: Arial, sans-serif;
}

