.likert{
	display: flex;
	&__container{
		margin-top: 47px;
		position: relative;
	}
	&__group{
		margin-right: 131px;
	}
	&__line{
		stroke: #fff;
    stroke-width: 2;
    
    &--group{
			height: 1px;
			width: 1px;
			z-index: -100;
			overflow: visible;
    }
	}
	&__button{
		border: 2px solid #fff;
		height: 53px;
		width: 53px;
		border-radius: 50%;

		display: flex;
    align-items: center;
    justify-content: center;

		.likert__input:checked ~ .likert__label & {
		  background-color: #a25a36;
			border: 2px solid #a25a36;  
		}	
	}	
	&__input{
		display: none;
	}
	&__label{
		display: flex;
    flex-direction: column;
    align-items: center;
    width: 53px;
	}
	&__text{
	  font-family: $font-reg;
	  font-size: 23px;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.3;
	  letter-spacing: normal;
	  text-align: center;
	  color: #ffffff;
	  padding-top: 31px;
	}
	&__checkmark{
		background-image: url(../assets/images/desktop/icon/icon-check.svg);
		width: 31px;
		background-repeat: no-repeat;
    background-size: 100%;
		height: 23px;	
		display: none;
		.likert__input:checked ~ .likert__label & {
			display: block;
		}	
	}
}