.line{
	&__wrapper{
    height: 5.00rem;
    width: 70rem;
    @include bp(1440){
      width: 83.333%;
    }
    @include bp(767){
      width: 100%;
      padding: 0 .8rem;
    }

    position: absolute;
		z-index: -100;
    overflow: visible;			
    left: 50%;
    transform: translateX(-50%);

    
    &--x{
      height: 100%;
      width: 100%;
      z-index: -1;

      &.deactivate{
        transition: opacity 800ms;
        opacity: 0;
      }  
    }

    &--1{
      &.activate{
        opacity: 1;
      }
    }
    &--2{
      @include bp(1150){
        display: none;
      }
      // @include bp(1024){
      //   display: none;
      // }
    }
    &--3{
      z-index: 0;
      transform: translate(-50%,-50%);
      display: none;
      @include bp(1150){
        display: block;
      }
    }
	}

  
  stroke: $color-orange-1;
  stroke-width: 2;
  stroke-dasharray: 4;
  stroke-dashoffset: 8;
  animation: stroke 0.2s linear infinite;		

  &--13{
    stroke: $color-grey-1;
    animation: stroke 1s linear infinite;   
    &.deactivate{
      animation: none;
    }
  }

  &__group{
    &--1{
      width: 83.333%;
      margin: 0 auto;
      display: none;
      @include bp(1150){
        display: block;
      }
    }
  }
  &__circle{
    height: 5.00rem;
    background: $color-blue-2;
    position: absolute;
    width: 5.00rem;
    z-index: 10;
    transform: translate(-50%,-52%);
    left: 50%;
    border: 0.10rem solid $color-beige-1;
    border-radius: 5.00rem;
    &--1{
      height: 16rem;
      border: 1rem solid white;
      width: 16rem;
      border-radius: 100%;
      margin-top: 9rem;
      @include bp(1440){
        left: 59%;
      }
      @include bp(1150){
        display: none;
      }
    }
    &--2{
      display: none;
      @include bp(1150){
        display: block;
      }
    }
  }
  &--x{
    stroke-width: 1;
    animation: none;
  }

  &--y{
    stroke-width: 20;
    stroke: $color-white-1;
    stroke-dasharray: 40;
    transition: all .1s;
    animation: none;
    &.deactivate{
      opacity: 0;
    }
  }

  &--a{
    stroke: $color-beige-1;
    stroke-width: 2;
    stroke-dasharray: 4;
    animation: none;
  }

  &.activate{
  	animation: fadewhite .5s linear;  	
  	stroke: $color-blue-4;
  	stroke-dasharray: 0;
  }
}