.detailed-score{
	&__wrapper{
		height: 23.35rem;
		background-color: $color-sblack-1;
		width: 49.25rem;
		padding: 4.37rem 2.40rem 4.38rem 2.60rem;
		display: flex;
		cursor: pointer;
		transition: filter 500ms;
		margin: 0 auto;
		&:hover > .detailed-score__container--2{
	    filter: blur(0.10rem);
	  }
		@include bp(900){
			position: relative;
		}
	}
	&__container{
		&--1{
			flex: 0 0 17.95rem;
			margin-right: auto;
			padding-top: 2.98rem;
			@include bp(900){
				z-index: 1;
			}
		}
		&--2{
			flex: 0 0 25.90rem;
	    background-image: url(../assets/images/desktop/pathmap.png);
      background-size: 100%;



      @include bp(1440){
   	    flex: 0 0 50%;
		    background-size: 100%;
		    background-repeat: no-repeat;
		    transform: translateY(20%);
      }
      @include bp(900){
      	position: absolute;
		    width: 75%;
		    height: 75%;
		    filter: blur(.3rem);    
		    transform: translateY(0) translateX(10%);
      }
		}
	}
	&__btn{
	  width: 7.00rem;
	  height: 1.90rem;
	  border: solid 0.10rem $color-white-1;
	  margin-top: 1.25rem;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 0.30rem;
    padding-right: 0.45rem;
		text-decoration: none;
	}
}

.cta-group{
	&__wrapper{
		// height: 25.65rem;
		display: flex;
		// width: 45.00rem;
		margin-top: 2.80rem;
		justify-content: space-between;
		width: 100%;
		&--2{
			margin-bottom: 2.80rem;
		}
		@include bp(1440){
			width: 100%;
		}
		@include bp(1350){
			width: 75%;
			height: auto;
		}
		@include bp(1150){
			width: 100%;
		}
		@include bp(600){
			flex-direction: column;
		}
	}
	&__container{
		flex: 0 0 21.65rem;
		// background-color: #fff;
		@include bp(1440){
			flex: 0 0 45%;
		}
	}
	&__btn{
		border:  solid .1rem $color-blue-2;
	  background-color: $color-white-1;	  
	  height: 1.80rem;
    display: flex;
    justify-content: space-between;
    align-items: center;	  
	  margin-bottom: 2.80rem;
	  margin-top: 0.85rem;
		padding-left: 0.30rem;
		cursor: pointer;
    padding-right: 0.45rem;
		text-decoration: none;
		& > *{
			color: $color-blue-2;
			text-decoration: none;
		}		

		& > .btn__arrow{			
			background-image: url(../assets/graphics/arrow-blue.svg);
		}

		&:hover{
			background-color: $color-blue-2;

			& > .btn__txt{
				color: $color-white-1
			}

			& > .btn__arrow{
				background-image: url('../assets/graphics/arrow.svg');
			}
		}

		&--1{
			width: 7.15rem;
		}
		&--2{			width: 8.45rem;
		}
	}
	&__group{
		
	}
}

.sidebar{
	&__line{
		margin-top: 0.30rem;
	}
	&__wrapper{
		@include bp(1350){
			display: flex;
			padding-bottom: 4.00rem;
		}
		@include bp(700){
			flex-direction: column;
		}
	}
	&__group{
		height: 15.40rem;		
		width: 100%;
		margin-top: 1.20rem;
		background: $color-white-1;
	  box-shadow: 0 0.10rem 0.40rem 0 rgba(0, 0, 0, 0.15);
	  @include bp(1350){
	  	flex: 0 0 17.20rem;
	  	margin-right: 5%;
	  }
	  @include bp(700){
	  	flex: 0 0 15.4rem;
	  	width: 17.2rem;
	  }
	}
	&__video{
		&--container{			
			width: 100%;
			height: 9.30rem;
	    background-repeat: no-repeat;
	    background-size: 100%;
			&-1{
				background-image: url(../assets/images/desktop/tbnail-cover-240.png);
			}	
			&-2{
				background-image: url(../assets/images/desktop/img--1.svg);
			}			
		}
	}
	&__btn{
	  width: 7.35rem;
	  height: 1.80rem;
	  background-color: #fff;
	  border: solid 0.10rem $color-blue-2;
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  cursor: pointer;
	  padding-left: .3rem;
	  padding-right: .45rem;
	  margin-top: 1rem;
	  text-decoration: none;


	  & > * {
	  	color: $color-blue-2;	
	  }
	  & > .btn__arrow{
	    background-image: url(../assets/graphics/arrow-blue.svg);
	  }

		&:hover{
			background-color: $color-blue-2;

			& > .btn__txt{
				color: $color-white-1
			}

			& > .btn__arrow{
				background-image: url('../assets/graphics/arrow.svg');
			}
		}	  
	}
	&__info{
		&--wrapper{
	    padding-top: 0.50rem;
	    padding-left: 0.50rem;
		}
	}
}

#scroll_down{
	height: 6.00rem;
	width: 0.60rem;    
  margin: 0 auto;
  position: relative;
}

.card{
	&__group{
			flex: 1;
			background-color: #fff;		
			margin: 0 0.90rem;
			flex-flow: column;
			display: flex;
			height: auto;
			box-shadow: 0px 1px 16px 0 rgba(0,0,0,0.18);
			border-radius: 0.40rem;
		&--large{			
			margin: 0 0.90rem;
		}
		&--mid{						
			display: block;
			position: relative;
			height: 18.4rem;
			&:hover{
				& .card__facade--2{
					opacity: 1;
					transform: translate(0);
				}
			}
		}
	}

	&__facade{
		padding: 1.2em 1.2em 0.2em;
    width: 100%;
    border-radius: 0.40rem;
    display: flex;
    flex-flow: column;		
		position: absolute;
		&--1{
			height: auto;
			background-color: #fff;
		}
		&--2{
			padding-bottom: 2.42rem;
			opacity: 0;
			z-index: 20;
			height: 18.40rem;
			background-color: #A43C2E;			
			transform: translateY(15%);
	    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1),opacity 200ms;			
		}
	}

	&__item{
		&--1{
			flex: 0 0 auto;
		}
		&--2{
			flex: 1 0 17.40rem;
	    padding: 1.7em 1.05rem 2.5em;
		}
		&--3{
			flex: 0 0 auto;
			padding-bottom: 1rem;
	    display: flex;
	    justify-content: center;			
		}
		&--4{
			flex: 0 0 auto; 
			margin-bottom: 2em;
		}
		&--5{
			flex: 0 0 7.10rem;
		}
		&--6{
			flex: 0 0 3.50rem;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
		&--8{
			margin-bottom: auto;
		}
		&--9{
			display: flex;
			justify-content: center;
		}
	}

	&__img{
		&--img{
			margin: 0 auto;
			display: block; 
			&-1{
				border-top-left-radius: 0.20rem;
		    border-top-right-radius: 0.20rem;
			}
		}
	}
	&__button{
		display: flex;
		&--1{
    	padding: 0.62rem 1.00rem;    
	    border-radius: 0.20rem;
	    background-color: #9e4e4e;    
	    font-size: 0.70rem;
	    font-family: $font-reg;	
	    color: #fff;
	    text-decoration: none;
		}
		&--2{
			flex: 0 0 3.50rem;
			height: 1.75rem;
			background-color: #A43C2E;   
			color: #fff;
			display: flex;
	    justify-content: center;
	    align-items: center;
	    border-radius: 1.80rem;
	    // cursor: pointer;
		}
		&--3{
			padding: 0.62rem 1.00rem;	   
			display: inline-flex;
	    justify-content: center;
	    align-items: center; 
	    color: #100f0e;
			font-family: $font-reg;
			text-decoration: none;
	    font-size: 0.70rem;
    	background: #fff;
    	border-radius: 0.20rem;
			& > *{
				transform: translateY(0.10rem);
			}
			&:hover{
				background: #f3f2f1;
			}
		}
	}
	&__title{
		font-size: 1.00rem;
		color: #1A1816;
		font-family: $font-b;
		line-height: 1.2;
		margin-bottom: 0.40rem;
		&--1{
			font-size: 0.90rem;
	    line-height: 1.3;
	    font-family: $font-b;
	    margin-bottom: 0.4em;
	    color: #fff;
		}
	}
	&__text{
		font-size: 1.20rem;
    line-height: 1.4;
    font-family: $font-reg;
	}
	&__para{
		font-size: 0.80rem;
		font-family: $font-lite;
		color: #3F3A36;
		margin-bottom: .4rem;
		line-height: 1.56;
		&--1{
			margin: 0 0 1.1em;
    	line-height: 1.55;
			font-size: 0.90rem;
			color: #fff;
			font-family: $font-reg;
		}
	}
	&__share{
		font-family: $font-reg;
		color: #bc6c37;
		font-size: 0.80rem;
	}
}
