.main-container{
	// width: 100vw;
 //  height: 100vh;
 //  position: absolute;
 //  border: solid 0.25rem black;
 //  left: 50%;
 //  transform: translateX(-50%); 
	opacity: 1;

	&__buffer{
		height: 1000px;
	}
	&--x{
		z-index: 	4;
		padding-top: 10.11rem;
		height: 54.00rem;

		position: relative;
		& > *{
			opacity: 	0;
		}
		&.activate{
			& > *{
				opacity: 	1;
			}
		}		
	}
	&-resize{
		opacity: 1;
		transition: opacity 500ms;
		transition-timing-function: ease-in;
	  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
	}
}
.pathfinder{
  background-color: dodgerblue;
  transition: all 1100ms;

  // transition-delay: 300ms;
  // transition-timing-function: cubic-bezier(.84,.09,.19,.92);

	&--x{
		transform: scale(0.1) translateY(150rem);
		// @include bp(1440){
		// 	transform: scale(0.1) translateY(138rem);
		// }
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 22.11rem;		
		&.zoom-in{
			transition: none;
			&--2{
				&-x{
					transform: scale(1) translate(-92.70rem, -40rem);								
				}				
				transform: scale(0.1) scale(1) translate(-92.70rem, -50rem);
			}
			&--3{
				&-x{
					transform: scale(1) translate(-278.1rem, -90rem);	
				}								
				
				transform: scale(0.1) translate(-278.1rem, -100rem);	
			}
			&--4{
				&-x{
					transform: scale(1) translate(-278.1rem, 160rem);									
				}				
				transform: scale(0.1) translate(-278.1rem, 150rem);
			}
			&--5{
				&-x{
					transform: scale(1) translate(0rem, 160rem);	
				}								
				
				transform: scale(0.1) translate(0rem, 150rem);	
			}
			&--6{
				&-x{
					transform: scale(1) translate(278.1rem, 160rem);						
				}							
				transform: scale(0.1) translate(278.1rem, 150rem);
			}
			&--7{
				&-x{	
					transform: scale(1) translate(185.4rem, -90rem);
				}								
					transform: scale(0.1) translate(185.4rem, -100rem);				
			}
		}
	}
}

