
.header{
	&__container{
		position: fixed;
		z-index: 10;
	  width: 70.00rem;
	  margin: 0 auto;
		height: 2.95rem;
	  left: 0;
	  right: 0;
	  display: flex;
		// justify-content: space-between;
		padding-top: 0.95rem;
		transition-property: opacity;
		transition-duration: .1s;
		
		&.deactivate{
			opacity: 0;
		}		

		&--x{
			// background-color: #fff;
		}
		&--y{
			
		}

		@include bp(1440){
			width: 83.333%;
		}
		@include bp(767){
			width: 100%;
			padding: 0.95rem .8rem 0 .8rem;
		}
	}

	&__background{
		// background-color: $color-blue-2;
		position: fixed;
		z-index: -10;
		width: 70.00rem;
		margin: 0 auto;
		height: 2.95rem;
		left: 0;
		right: 0;
		padding-top: 0.95rem;
		transition-property: opacity;
		transition-duration: .1s;
		@include bp(1440){ width: 83.333%; }
		@include bp(767){ 
			width: 100%;
			padding: 0.95rem .8rem 0 .8rem;
		}
		// &.bg-white{    
		// 	background-color: $color-white-1;
		// 	animation: bgWhite 2s linear;
		// }

	}
	
	&__nav{
    width: 14.70rem;
    height: 1.20rem;
    bottom: -3.95rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    justify-self: center;	
    position: absolute;
		z-index: -100;
		opacity: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: all 1100ms;
		@include bp(1440){
			transform: scaleY(0);
		}

		&.activate{
			z-index: 1;
			opacity: 1;
		}

		&--btn{
			// background-color: red;
			height: 1.20rem;
			width: 4.25rem;
			display: flex;
	    align-items: center;

      background-image: url('../assets/graphics/icon-back.svg');
		  background-size: 1.20rem 1.20rem;
		  background-repeat: no-repeat;
		

			@include bp(1440){
				position: fixed;
				height: 20rem;
				width: 8.34vw;
				background-color: transparent;
				top: 4.15rem;
				height: 32.50rem;
				z-index: 100;
				transition: all 1100ms;
				opacity: 1;

				display: flex;
		    flex-direction: column;
		    justify-content: center;
			}
			@include bp(1024){
				// height: 26.75rem;
		    top: auto;
		    width: 50vw;

		    height: 2.85rem;
		    bottom: 0.00rem;
		    flex-direction: row;		    
		    align-items: center;
			}
	    

	    &--1{
	    	& > span{
	    		margin-left: auto;
	    	}

	    	&:before {
					content: "";
					position: absolute;
					// width: 200%;
					// height: 200%;
					// top: -50%;
					// left: -50%;
					// z-index: -1;
					// background: url(background.png) 0 0 repeat;
					// -webkit-transform: rotate(30deg);
					// transform: rotate(30deg);
					
					background-image: url();
				}	

				@include bp(1440){
					left: 0;
					transform: translateX(-8.34vw);
					background-image: none;
	    	}
	    	@include bp(1024){
	    		padding-left: 8.34vw;
	    		transform: translateX(-50vw);
	    		justify-content: flex-start;
	    	}
	    	@include bp(767){
	    		padding-left: .8rem;
	    	}
	    }
	    &--2{
	    	background-position-x: right;
	    	background-image: url('../assets/graphics/icon-back--1.svg');
				@include bp(1440){
					right: 0;
					transform: translateX(8.34vw);
					background-image: none;
	    	}	    	
	    	@include bp(1024){
	    		padding-right: 8.34vw;
	    		transform: translateX(50vw);	 
	    		justify-content: flex-end;
	    	}
	    	@include bp(767){
	    		padding-right: .8rem;
	    	}	    	
	    }

    	&.disable{
    		opacity: 0;
    		pointer-events: none;
    	}

	    &.activate{
	    	@include bp(1440){
	    		transform: translateX(0);
	    	}
	    }
		}
	}
}
