.results{
	&__main{
		height: 51.80rem;
		// background-color: hotpink;
		width: 100%;
		margin-top: 7.70rem;
		display: flex;

		@include bp(1350){
			flex-direction: column;
		}
	}
	&__body{
		flex: 0 0 49.25rem;
		margin-right: auto;
		// height: 300px;
		@include bp(1440){
			flex: 0 0 68%;
		}
	}
	&__sidebar{
		flex: 0 0 17.20rem;
		// height: 300px;
	}
}